.button {
  padding: 0.7rem 4rem;
  border: 2px solid #4e381f;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: beige;
  box-shadow: #00000059 0px 5px 15px;
}

.button:hover {
  cursor: pointer;
  border-color: #a17643;
  box-shadow: none;
}

.button:active {
  border: 2px solid #4e381f;
  color: grey;
}

.button:disabled:hover {
  cursor: not-allowed;
  box-shadow: #00000059 0px 5px 15px;
  border: 2px solid #4e381f;
}
