.field {
  position: relative;
  height: 20rem;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: #00000059 0px 5px 15px;
  overflow: hidden;
  z-index: 1;
  outline: 10px solid #524433;
}

.track {
  width: 100%;
  height: 100%;
}

.horse {
  position: absolute;
  z-index: 2;
  transition: left 4s linear;
}

.horse1 {
  top: 10px;
}
.horse2 {
  top: 40px;
}
.horse3 {
  top: 70px;
}
.horse4 {
  top: 100px;
}
.horse5 {
  top: 130px;
}
.horse6 {
  top: 160px;
}
