.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header h1 {
  position: absolute;
  bottom: 35px;
  z-index: 2;
  margin: 0;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  color: beige;
  filter: drop-shadow(3px 4px 6px #080808);
}

.header img {
  height: 10rem;
  width: auto;
  filter: drop-shadow(3px 4px 6px #080808);
}
