.info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.info span {
  display: flex;
  align-items: center;
  color: #9b8571;
}

.info span:before {
  content: '';
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #b17c4a;
  border-radius: 50%;
}

.horse1:before {
  background: #258625;
}
.horse2:before {
  background: #2d52b9;
}
.horse3:before {
  background: #8d2491;
}
.horse4:before {
  background: #7a0f0f;
}
.horse5:before {
  background: #a1a315;
}
.horse6:before {
  background: #646464;
}
